<a href="https://colab.research.google.com/github/RahmaAl-Aamri/Bebec.Python/blob/main/DS_Set_Rahma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Repeated values at Set are executed once
My_Set = {20,30,22,7,88,90,20,88,20,7,7,30,1} # set of integers
print(My_Set)

My_Set = {"Python", 9.5, (1,2,3,4)} #Inside the set we couldn`t use [], only ()
print(My_Set)

{1, 7, 20, 22, 88, 90, 30}
{9.5, 'Python', (1, 2, 3, 4)}

In [ ]:
%%time
# set of integers
my_set = {55,45,67,77,1,5,7,0,3,4, 3, 3 ,3 }
my_set

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}
CPU times: user 844 µs, sys: 0 ns, total: 844 µs
Wall time: 853 µs

In [ ]:
Set1 = {'Facebook', 'Amazoon', 'Google', 'Hotmail', 'Wallmart'}
print(Set1) #It dosen`t care about order
#print(Set1[0]) #That`s why it dosen`t support indexing, ERROR
Set1.add('Netflix') #'add' is used to add one item only, however 'update' for more than one value
print(Set1)
Set1.update(['KFC', 'Amazoon', 'Microsoft']) #existing items are not going to be executed, only new values
print(Set1)

{'Wallmart', 'Amazoon', 'Hotmail', 'Google', 'Facebook'}
{'Wallmart', 'Amazoon', 'Hotmail', 'Google', 'Netflix', 'Facebook'}
{'Wallmart', 'Amazoon', 'Hotmail', 'Google', 'Netflix', 'Facebook', 'Microsoft', 'KFC'}

In [ ]:
S1 = {4,5,6,7}
print(S1)

S1.discard(3) # Since 3 is not there, the set remains unchanged
print(S1)

S1.discard(7)
print(S1)

S1.remove(4)
print(S1)

#S1.remove(1) #It will shows an errorm while 'discard' is ok
#print(S1)

{4, 5, 6, 7}
{4, 5, 6, 7}
{4, 5, 6}
{5, 6}

In [38]:
S2 = {"DataScience"}
print(S2)
S2 = set('DataScience') # It shows the letters as unique elements without any repetition. 
print(S2)
print(S2.pop()) # 'pop() delete all letters and left only the first item
S2.pop()
print(S2)
S2.clear()
print(S2)

{'DataScience'}
{'i', 'c', 'n', 'e', 'a', 'S', 't', 'D'}
i
{'n', 'e', 'a', 'S', 't', 'D'}
set()

In [44]:

for letter in set('DataScience'):
  print(letter, end=' ') #

i c n e a S t D

In [48]:
S3 = {5,10,15,5,10}
S4 = {20,25,30,10,5}
print(S3 | S4)
print(S3.union(S4))
print(S4.union(S3)) # Values of S4 are going to be presented first
print(S3 & S4) # It shows only the intersection
print(S3.intersection(S4))
print(S3 - S4)
print(S3.difference(S4))
print(S4 - S3) # It presents the unique values at S4
print(S4 ^ S3) # It presents the unique values at both sets
S3.difference_update(S4) #it shows the unique value at S3, and whole values at S4
print(S3)
print(S4)

{5, 10, 15, 20, 25, 30}
{5, 10, 15, 20, 25, 30}
{20, 5, 25, 10, 30, 15}
{10, 5}
{10, 5}
{15}
{15}
{25, 20, 30}
{20, 25, 30, 15}
{15}
{5, 10, 20, 25, 30}